html  {
    background-color:  #4F4A45;
    font-family: sans-serif;
    color: #F6F1EE;
}

h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5pt;
}

/**
INPUT TEXT
**/
#menu{
    display: flex;
    justify-content: center;
    margin : 50px 0;
}

#menu input[type='text'] {
    border: none;
    border-bottom : 1px solid white;
    background: transparent;
    outline: none;
    color: white;
    font-size: 18pt;
    padding: 10px;
}

#menu button{
    font-size:15pt;
    padding: 10px 30px;
    background-color: #ED7D31;
    color: #F6F1EE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#menu button:hover{
    background-color: #6C5F5B;
    color: #F6F1EE;
}

#data{
    opacity: 0;
    transition: opacity 0.2s;
    margin-top: 30px;
}

#data.visible{
    opacity: 1;
}

/**
CURRENT WEATHER BOX
**/

#current-weather{
    background-color: #ed7c313a;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: auto;
}

h2{
    text-transform: uppercase;
    margin-left: 30px;
}

#curr-weather-box{
    display: flex;
    align-items: center;
    font-size: 30pt;
}



#info-supp, #tmp-min-max{
    font-size: 9pt;
    
}

#tmp p{
    margin : 0 10px;
}

#right-box{
    text-align: right;
    margin: auto 10px;
    font-size: 18pt;
}


#loading{
    display: flex; 
    justify-content: center;
}

/**
MAP
**/

#map{
    width: 500px;
    height: 350px;
    margin : auto;
    padding: 0;
}